@model AlbumModel
@{
	if (Model.AlbumID == 0)
	{
		ViewData["Title"] = "New Album";
	}
	else
	{
		ViewData["Title"] = "Edit Album " + Model.Title;
	}
}

<form method="post">
	<div asp-validation-summary="All"></div>
	<input asp-for="AlbumID" type="hidden" />
	<div>
		<label asp-for="Title"></label>
		<div>
			<input asp-for="Title" />
			<span asp-validation-for="Title"></span>
		</div>
	</div>
	<div>
		<label asp-for="ArtistID"></label>
		<div>
			<select asp-for="ArtistID" asp-items="@((IEnumerable<SelectListItem>)ViewData["Artists"])"></select>
			<span asp-validation-for="ArtistID"></span>
		</div>
	</div>

	<div>
		<button type="submit">Save</button>
	</div>
</form>